{
  "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "10",
            "browsers": "last 5 versions, > 5%"
          }
        }
      ]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime",
        {
          "regenerator": true,
          "helpers": false
        }
      ],
      [
        "@babel/plugin-proposal-decorators",
        {
           "legacy": true
        }
      ],
      [
        "module-resolver",
        {
          "alias": {
            "tests": "./tests",
            "myrmidon": "./src",
            "package": "./package.json"
          }
        }
      ],
      ["@babel/plugin-proposal-class-properties",{
        "loose": false
      }],
      ["@babel/plugin-proposal-private-methods", { "loose": false }],
      "@babel/plugin-proposal-optional-chaining"
    ],
    "ignore": [
      "node_modules"
    ]
}
  