{
    "extends": [
        "incredible"
    ],
    "settings": {
        "import/resolver": {
          "babel-module": {},
          "node": {
            "extensions": [
              ".js",
              ".json"
            ]
          }
        }
    },
    "globals":{
        "BigInt":true,
        "performance": true
    },
    "overrides" : [
        {
            "files" : [ "tests/helpers/checkType/*.test.js" ],
            "rules" : {
                "no-new-wrappers" : 0,
                "unicorn/new-for-builtins": 0
            }
        },
        {
            "files" : [ "tests/helpers/array/*.test.js" ],
            "rules" : {
                "unicorn/no-array-callback-reference": 0 
            }
        },
        {
            "files" : [ "*.test.js" ],
            "rules" : {
                "unicorn/filename-case" : 0
            }
        }
    ],
    "rules": {
        "no-param-reassign": 0
    }
}
