{
    "extends": [
        "incredible"
    ],
    "settings": {
        "import/resolver": {
          "babel-module": {
          },
          "node": {
            "extensions": [
              ".js",
              ".json"
            ]
          }
        }
    },
    "globals":{
        "BigInt":true,
        "performance": true
    },
    "overrides" : [
        {
            "files" : [ "tests/*.js", "*.test.js" ],
            "rules" : {
                "import/named" : 0,
                "import/default": 0
            }
        },
        {
            "files" : [ "tests/helpers/checkType/*.test.js" ],
            "rules" : {
                "no-new-wrappers" : 0
            }
        }
    ],
    "rules": {
        "no-param-reassign": 0
    }
}
